- name: app setup
  ansible.builtin.include_role:
    name: common
    tasks_from: app-setup 

- name: nodejs setup
  ansible.builtin.include_role:
    name: common
    tasks_from: nodejs

- name: systemd setup
  ansible.builtin.include_role:
    name: common
    tasks_from: systemd    